@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  position: relative;
  font-size: 16px;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.text-content {
  padding: 7%;
  text-align: center;
}

.title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 20px;
}

.subtitle {
  color: #8a8a8a;
  margin-bottom: 25px;
}

.plan-box {
  background-color: hsl(225, 100%, 98%);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.plan-box-left {
  display: flex;
  align-items: center;
  text-align: left;
}

.plan-box-left div {
  margin-left: 20px;
}

.plan-box-left div h5 {
  font-weight: 900;
  font-size: 15px;
  color: hsl(223, 47%, 23%);
}

.plan-box-left div p {
  font-size: 14px;
  color: #8a8a8a;
}

.plan-box a {
  font-weight: 900;
  text-decoration: none;
  color: hsl(223, 47%, 23%);
  transition: color 0.3s ease;
}

.plan-box a:hover {
  color: hsl(245, 75%, 52%);
}

.proceed-btn {
  display: block;
  text-decoration: none;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #fff;
  background-color: hsl(245, 75%, 52%);
  padding: 15px 0;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.proceed-btn:hover {
  background-color: hsl(224, 23%, 55%);
}

.cancel-btn {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  transition: color 0.3s ease;
}

.cancel-btn:hover {
  color: hsl(223, 47%, 23%);
}

@media only screen and (max-width: 450px) {
  body {
    background-image: url(images/pattern-background-mobile.svg);
    font-size: 14px;
  }

  .container {
    max-width: 87%;
  }

  .title {
    font-size: 23px;
  }

  .plan-box {
    padding: 12px;
  }

  .plan-box-left div {
    margin-left: 10px;
  }

  .proceed-btn {
    font-size: 13px;
  }

  .cancel-btn {
    font-size: 12px;
  }

  .text-content {
    padding: 9%;
  }
}
